.cabeçalho {
    display: flex;
    justify-content:space-around;
    background-color: #3C486B;
    margin: 0;
    padding: 500px, 500px ;
}

.cabeçalho {
    color: white;
}

.cabeçalho-imagem {
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 300px, 300px;
}

.cabeçalho-título1 {
    text-align: center;
    margin: 300px, 300px;
    padding: 300px, 300px;
}

.cabeçalho-título1{
    font-size: 70px;
}