.cabeçalho {
    display: flex;
    justify-content:space-around;
    background-color: #3C486B;
    margin: 0%;
    padding: 5%, 5%;
}

.cabeçalho {
    color: white;
}

.cabeçalho-imagem {
    width: 210px;
    height: 120px;
    padding: 5%, 5%;
}

.cabeçalho-título1 {
    text-align: center;
    padding: 5% 5%;
}

.cabeçalho-título1{
    font-size: 70px;
}