.cabeçalho {
    background-color: #3C486B;
}

.cabeçalho {
    color: white;
}

.cabeçalho-imagem {
    width: 120px;
    text-align: center;
}


.cabeçalho-título1 {
    text-align: center;
}

.cabeçalho-título1{
    font-size: 70px;
}